# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# Use 4 spaces as indentation
# A newline ending every file
[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true



