# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# Use 4 spaces as indentation
# A newline ending every file
[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[devcontainer.json]
indent_style = tab
